
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		

		<h1>Sign Up</h1>

		<%= form_for @user, :html => { :multipart => true } do |f| %>

			<%= f.text_field :name, placeholder: "Name", class: "form-control", autofocus: true %>
			<br>
			<%= f.select :city_id, options_for_select(
				[
					["San Francisco", 1],
					["New York", 2],
					["Los Angeles", 3],
					["Miami", 4],
					["Seattle", 5],
					["Las Vegas", 6],
					["Berlin", 7],
					["Hong Kong", 8],
					["Tokyo", 9],
					["Sydney", 10],
					["Ho Chi Minh City", 11],
					["Seoul", 12]
				]
			), {}, class: "form-control col-sm-4" %>
			<br>
			<br>
			<br>
			<%= f.email_field :email, placeholder: "Email", class: "form-control" %>
			<br>
			<%= f.password_field :password, placeholder: "Password", class: "form-control" %>
			<br>
			<%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "form-control" %> 
			<br>

 			<%= f.file_field :avatar, class: "form-control" %>
			<br>
			
			<%= f.submit "Sign Up" %>
		<% end %>

		<br>
		<p>Already have an account? <%= link_to "Click here", login_path%> to log in.</p>
	</div>
</div>