<div class="container">
	<div class="row">
		<div class="well col-md-4">
			<legend>Profile</legend>
			<%= image_tag @user.avatar.url(:medium) %>
			<h2><%= @user.name %></h2>
			<h3><%= @user.city.name %></h3>
			<h3>Joined on: <%= @user.created_at.strftime("%m/%d/%Y") %></h3>
			<% if @user.id == current_user.id %>
				<%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
			<% end %>
		</div>
		<div class="log col-md-8">
			<% if @user.posts.any? %>
				<div class="row">
				<h2>My Posts</h2>
				<hr>
				<% @user.posts.each do |post| %>
					<h3><%= post.title %></h3>
            		<h4><%= post.city.name%>   
	                	<span class="pull-right">
	                  		<%= link_to "View Post", post_path(post), class: "btn btn-primary pull-right" %>
	                	</span>
                	</h4> 
              		<hr>
              	<% end %>
              	</div>
			<% else %>
			    <div class="row">
			    <h3>No posts yet!</h3>
			    <hr>
			    </div>
			<% end %>
		</div>
	</div>
</div>