<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<h1>New Post</h1>
		<%= form_for @post, :html => {:class => "form-horizontal center"} do |f| %>
			<%= f.text_field :title, placeholder: "Title", class: "form-control" %>
			<br>
			<%= f.select :city_id, options_for_select(
				[
					["San Francisco", 1],
					["New York", 2],
					["Los Angeles", 3],
					["Miami", 4],
					["Seattle", 5],
					["Las Vegas", 6],
					["Berlin", 7],
					["Hong Kong", 8],
					["Tokyo", 9],
					["Sydney", 10],
					["Ho Chi Minh City", 11],
					["Seoul", 12]
				]
			), {}, class: "form-control col-sm-4" %>
			<br>
			<br>
			<br>
			<%= f.text_field :body, placeholder: "Body", class: "form-control" %> 
			<br>	
			<%= f.submit "Submit", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>